<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ext/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/banVariables.css">
    <title>Calculadora Economía</title>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/navigation") %>
    <section>
        <div class="cont_banner">
            <div class="sombra">
                <h1>Variables</h1>
                <hr />
                <p>Estadística de información ambiental económica en gobiernos autónomos descentralizados
                    municipales</p>
            </div>
        </div>
    </section>
    <hr />

    <section>
        <div class="container">
            <br>
            <h1 class="tituloIndicador text-center">Seleccionar Variables</h1>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-custom1">
                        <form action="/varAmb" method="post">
                            <div class="card-body">
                                <div class="custom-box1">
                                    <h5 class="card-title1 m-3"
                                        style="padding-top: 1rem;font-weight:bolder; text-align: center;">
                                        Variables de Indicador Económico</h5>
                                    <% for (let i=0; i < variablesIndicadores.length; i++) { %>
                                        <div class="form-check form-switch">
                                            <input style="float:right;" class="form-check-input" type="checkbox"
                                                role="switch" id="<%= variablesIndicadores[i] %>"
                                                value="<%= variablesIndicadores[i] %>" name="variablesIndicadores[]" <%
                                                if (selectedVariables.includes(variablesIndicadores[i])) { %> checked
                                            <% } %>>
                                                <label class="form-check-label" for="<%= variablesIndicadores[i] %>">
                                                    <%= variablesIndicadores[i] %>
                                                </label>
                                        </div>
                                        <% } %>

                                </div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button
                                    style="background: rgba(34, 34, 7, 0.75);
                                          border-radius: 20px; border-color: black; margin-bottom: 3rem;margin-top: 3rem;"
                                    class="btn btn-primary " type="submit">Calcular</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <canvas style="margin-top: 2rem; margin-bottom: 2rem;" id="myChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card1 card-custom">
                        <div class="card-body">
                            <div class="custom-box2" style="display: flex; justify-content: center;"></div>
                            <h5 class="card-title2 m-3" style="padding-top: 1rem;font-weight:bolder;">
                                Instrucciones y Aclaraciones</h5>
                            <p class="diccionario text-align:justify " style="margin: 2rem;">
                                Presupuesto Anual (para planes de sensibilización)<br><br>
                                Monto recaudado del cobro por la recolección de residuos residencial <br><br>
                                Total del monto recaudado por el cobro de recoleccion de residuos residencial e
                                industrial <br><br>
                                Presupuesto anual para campañas de conservación de las fuentes de captación de
                                agua<br><br>
                                Ingresos provenientes de: Recursos fiscales generados por instituciones de valor
                                <br><br>
                                Ingresos provenientes de: Recursos de preasignaciones valor <br><br>
                                Ingresos provenientes de: Recursos de crédito internos valor <br><br>
                                Ingresos provenientes de: Asistencia técnica y donacionaciones valor <br><br>
                                Ingresos provenientes de: Anticipos de ejercicios anteriores valor <br><br>
                                Total de ingresos recibidos <br><br>
                                Ingresos para protección ambiental provenientes de: Recursos fiscales generados por
                                la institución<br><br>
                                Ingresos para protección ambiental provenientes de: Recursos provenientes de
                                preasignaciones valor<br><br>
                                Total del ingresos recibido para protección ambiental <br><br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


    <script>
        var grafica = <%-JSON.stringify(graficaVariables) %>;
        var labelsIndicadores = <%- JSON.stringify(labelsVariables) %>;
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: labelsIndicadores,
                datasets: [
                    {
                        data: grafica,
                        backgroundColor: [
                            "#ff6384",
                            "#36a2eb",
                            "#ffce56",
                            "#90EE90",
                            "#8B008B",
                            "#006400",
                            "#8FBC8F",
                            "#00FFFF",
                            "#00FF7F",
                            "#00BFFF",
                            "#1E90FF",
                            "#228B22",
                            "#00FF00",
                            "#00CED1",
                            "#2F4F4F",
                            "#008080",
                            "#B0E0E6",
                            "#ADD8E6",
                            "#87CEFA",
                            "#778899",
                            "#708090",
                            "#4682B4",
                            "#000080",
                            "#4169E1",
                            "#6495ED",
                            "#B0C4DE",
                        ],
                        borderColor: "#333",
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                title: {
                    display: true,
                    text: "Título de la gráfica",
                    fontSize: 20,
                    fontColor: "#333",
                },
                animation: {
                    animateScale: true,
                    animateRotate: true,
                },
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true,
                            },
                        },
                    ],
                },
            },
        });
        </script>

    </script>



    <%- include("partials/footer") %>
</body>

</html>